# Enforce LF for shell scripts (or any text file that should be LF)
*.sh text eol=lf

package.zip filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
installers/3D_Guided_GenAI filter=lfs diff=lfs merge=lfs -text
